h1{
    font-family:'Lobster', cursive;
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.wordColor{
    color: coral;
}
body{
    font-family: 'Fira Sans', sans-serif;
    margin: 0%;
}
.flex-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange,tomato);
    padding: 10px 40px ;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(image/rm21-background-tong-058.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.bottom-banner{
    background-image: url(image/photo-1579546929518-9e396f3cc809.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:right ;
}
.ex-area{
    background-image: url(image/watercolor-abstract-background_220290-24.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:right;
}
.ex-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
#box-border{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#box-border2{
    border-left: 7px solid;
    border-image: linear-gradient(red, orange);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}